body {
    margin: 0px;

}


.heroScene {

    height: 100vh;
    background-image: url(../img/background-principal.jpg);
    background-size: cover;
    background-repeat: no-repeat;


}

.services {

    height: 650px;
    background-image: url(../img/residentes-jugando-al-tejo.webp);
    background-size: cover;
    background-repeat: no-repeat;

}

.installations {

    height: 650px;
    background-image: url(../img/residencia-atras.webp);
    background-size: cover;
    background-repeat: no-repeat;

}

.activities {

    height: 650px;
    background-image: url(../img/motricidad-fina-en-la-tercera-edad.webp);
    background-size: cover;
    background-repeat: no-repeat;

}

.contact {

    height: 650px;
    background-image: url(../img/ayekan-geriatrico-en-cordoba-6.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}


.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 98px;
    line-height: 90px;
    color: #ffffff;
    text-align: center;
    padding-top: 15vh;

}

.title2 {
    font-size: 30px;
}

.subtitle {

    font-size: 22px;
    color: #ffffff;
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 6px;
    font-weight: 100;
    margin-top: 20px;

}

.locate {

    font-size: 22px;
    color: #ffffff;
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 6px;
    font-weight: 100;
    margin-top: 25vh;

}

.menu {

    display: flex;
    justify-content: right;

}


.nav-link {
    color: #ffffff;
    text-decoration: none !important;
    text-transform: uppercase;
    font-weight: 600;

}



.active {
    color: #ffffff !important;
    border-bottom: 2px solid #ffffff;


}

.nav {
    display: flex;
    padding: 15px 50px;

}

.footer {

    background-color: #cda980;
    display: flex;
    color: #ffffff;

}

.main {


    display: flex;


}

.col-50 {

    width: 50%;
    padding: 40px;


}

.img-responsive {
    width: 100%;
    height: auto;

}

.no-padd {
    padding: none !important;
    margin: 0 !important;
}

.btn {
    background-color: #cda980;
    border-color: #cda980;

}

.btn:hover {

    background-color: #cda880;
    border-color: #cda980;
}


.parpadeo {

    animation-duration: 2s;
    animation-name: parpadeo;
    animation-iteration-count: infinite;

}

@keyframes parpadeo {

    0% {
        opacity: 0;
    }

    50% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}


@media (max-width: 480px) {

    .title {
        font-size: 55px;
        line-height: 55px;
    }

}