.header {

    height: 100vh;
    background-image: url(../img/background-principal.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    div {

        h1 {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 800;
            font-size: 98px;
            line-height: 90px;
            color: #ffffff;
            text-align: center;
            padding-top: 15vh;
        }

        h2 {

            font-size: 22px;
            color: #ffffff;
            text-align: center;
            font-family: sans-serif;
            letter-spacing: 6px;
            font-weight: 100;
            margin-top: 20px;
        }
    }


}